<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adivina-Libros</title>
    <!-- No funciona. Usar este cuando funcione -->
    <!--<script src="/htmx/htmx.min.js"></script>-->
    <script src="https://unpkg.com/htmx.org@1.7.0/dist/htmx.js"></script>
</head>
<body>
    <h3>Adivina el libro</h3>
    <div id="newgame">
        <div id="sentence">
            Frase: <i>{{sentence}}</i>
        </div>
        <div>
            <form hx-post="/user-response" hx-trigger="submit" hx-target="#results-box">
                <label for="response">Respuesta</label>
                <input list="suggestions" id="response" name="response" hx-post="/search-title" 
                    hx-trigger="input changed delay:1s" hx-target="#suggestions_box">
                <div id="suggestions_box"></div>
                <button type="submit">Enviar</button>
            </form>
            <div id="results-box"></div>
        </div>
    </div>
    <div id="game"></div>
</body>
</html>
